<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.padule.cospradar"
    android:versionCode="3"
    android:versionName="1.0.2" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="18" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
    <uses-permission android:name="com.padule.cospradar.permission.C2D_MESSAGE" />
    <uses-permission android:name="com.padule.cospradar.c2dm.permission.RECEIVE" />

    <permission
        android:name="com.padule.cospradar.permission.C2D_MESSAGE"
        android:protectionLevel="signature" />

    <application
        android:name="com.padule.cospradar.MainApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_app"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:theme="@style/AppTheme" >
        <meta-data
            android:name="com.aviary.android.feather.v1.API_KEY"
            android:value="186a8b591261c9b0" />
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <meta-data
            android:name="com.crashlytics.ApiKey"
            android:value="07711d97ba834e6b88711a410b7df758f0873eac" />

        <activity
            android:name="com.padule.cospradar.activity.MainActivity"
            android:configChanges="keyboard|keyboardHidden|orientation"
            android:label="@string/app_name"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.padule.cospradar.activity.TutorialActivity"
            android:configChanges="keyboard|keyboardHidden|orientation"
            android:label="@string/app_name"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="com.padule.cospradar.activity.ChatBoardListActivity"
            android:configChanges="keyboard|keyboardHidden|orientation"
            android:label="@string/app_name"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.padule.cospradar.activity.ChatBoardActivity"
            android:configChanges="keyboard|keyboardHidden|orientation"
            android:label="@string/app_name"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.padule.cospradar.activity.CharactorSettingActivity"
            android:configChanges="keyboard|keyboardHidden|orientation"
            android:label="@string/app_name"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.padule.cospradar.activity.CharactorChooserActivity"
            android:configChanges="keyboard|keyboardHidden|orientation"
            android:label="@string/app_name"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.padule.cospradar.activity.PhotoPreviewActivity"
            android:configChanges="keyboard|keyboardHidden|orientation"
            android:label="@string/app_name"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <activity
            android:name="com.padule.cospradar.activity.ProfileActivity"
            android:configChanges="keyboard|keyboardHidden|orientation"
            android:label="@string/app_name"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.padule.cospradar.activity.SettingActivity"
            android:configChanges="keyboard|keyboardHidden|orientation"
            android:label="@string/app_name"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.padule.cospradar.activity.WebViewActivity"
            android:configChanges="keyboard|keyboardHidden|orientation"
            android:label="@string/app_name"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.padule.cospradar.activity.LoginActivity"
            android:configChanges="keyboard|keyboardHidden|orientation"
            android:label="@string/app_name"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/NoActionBar" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="twitter"
                    android:scheme="cospradar" />
            </intent-filter>
        </activity>

        <service android:name="com.padule.cospradar.service.LocationService" />
        <service android:name="com.padule.cospradar.service.TimerService" />

        <!-- Admob -->
        <activity
            android:name="com.google.android.gms.ads.AdActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|uiMode|screenSize|smallestScreenSize" />

        <!-- Aviary -->
        <activity
            android:name="com.aviary.android.feather.FeatherActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:hardwareAccelerated="true"
            android:largeHeap="true"
            android:process=":aviarysdk"
            android:screenOrientation="unspecified"
            android:theme="@style/AviaryTheme" />
        <activity
            android:name="com.aviary.android.feather.AlertActivity"
            android:launchMode="standard"
            android:noHistory="true"
            android:theme="@style/AviaryTheme.Dialog" >
            <intent-filter>
                <action android:name="aviary.intent.action.ALERT" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <service
            android:name="com.aviary.android.feather.cds.AviaryCdsService"
            android:exported="false"
            android:process=":aviarycds" >
            <intent-filter>
                <action android:name="aviary.intent.action.CDS_DOWNLOAD_START" />
                <action android:name="aviary.intent.action.CDS_RESTORE_USER_ITEMS" />
            </intent-filter>
        </service>

        <provider
            android:name="com.aviary.android.feather.cds.AviaryCdsProvider"
            android:authorities="com.padule.cospradar.AviaryCdsProvider"
            android:exported="false"
            android:process=":aviarycds"
            android:syncable="true" />

        <receiver
            android:name="com.aviary.android.feather.cds.AviaryCdsReceiver"
            android:process=":aviarycds" >
            <intent-filter>
                <action android:name="android.intent.action.DOWNLOAD_COMPLETE" />
            </intent-filter>
        </receiver>
        <receiver
            android:name="com.padule.cospradar.receiver.GcmReceiver"
            android:permission="com.google.android.c2dm.permission.SEND" >
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />

                <category android:name="com.padule.cospradar" />
            </intent-filter>
        </receiver>

        <service android:name="com.padule.cospradar.service.GcmService" />
    </application>

</manifest>